---
test:
  name: {{ CC_NAME }}-benchmark
  description: test benchmark
  workers:
    type: local
    number: 10
  rounds:
{% set labels = ['changeCarOwner','queryAllCars','queryCar','createCar'] %}
{% for label in labels %}
  - label: {{ CC_NAME }} {{ label }} test
    txDuration: 20
    rateControl:
      type: fixed-backlog
      opts:
        unfinished_per_client: 100
        startingTps: 100
    arguments:
      assets: 1000
    workload:
        module: /hyperledger/caliper/workspace/fabcar/{{ label }}.js
        arguments:
        assets: 1000
{% endfor %}
monitors:
  type:
  - prometheus
  prometheus:
    url: http://monitor.prometheus:9090
    push_url: http://monitor.pushgateway:9091
  interval: 5
observer:
  type: prometheus
  interval: 5
