{%  set orgcas = allcas|selectattr('org', 'equalto', CURRENT_ORG)|list %}
{%  set org = CURRENT_ORG %}

name: test-{{ NETNAME }}-with-ccp
version: "2.0.0"
caliper:
  blockchain: fabric
  sutOptions: false
info:
  details:
    Version: {{ fabric.release }}
    PeerOrgs: {{ peerorgs|join(',') }}
    NumberOfPeers: {{ allpeers | length }}
    OrdererOrgs: {{ ordererorgs|join(',') }},
    NumberOfOrderers: {{ allorderers | length }},
    Orderer: Raft
    Distribution: Docker Connection
    StateDB: {{ DB_TYPE }}
channels:
- channelName: {{ CHANNEL_NAME }}
  contracts:
  - id: {{ CC_NAME }}
organizations:
- mspid: {{ org.split('.')|join('-') }}
  connectionProfile:
    path: /hyperledger/caliper/workspace/Org1ConnectionProfile.yaml
    discover: true
  identities:
    certificates:
    - name: 'Admin'
      clientPrivateKey:
        path: {{ lookup('file', pjroot+'/vars/keyfiles/peerOrganizations/'+org+'/users/Admin@'+org+'/msp/keystore/priv_sk')|regex_replace('(\n)', '\\\\n') }}
      clientSignedCert:
        path: {{ lookup('file',pjroot+'/vars/keyfiles/peerOrganizations/'+org+'/users/Admin@'+org+'/msp/signcerts/Admin@'+org+'cert.pem')|regex_replace('(\n)', '\\\\n') }}



