caliper:
    bind:
        sut: fabric:{{ CALIPER_FABRIC_SDK_RELEASE }}
    workspace: /hyperledger/caliper/workspace
    benchconfig: benchmarkconfig.yaml
    networkconfig: networkconfig.yaml
    flow:
        only:
            test: true
    fabric:
        gateway:
            enabled: true
            localhost: false
