global:
  scrape_interval: 5s
  evaluation_interval: 5s
scrape_configs:
  - job_name: prometheus
    static_configs:
    - targets:
      - monitor.prometheus:9090
      labels:
        instance: prometheus
  - job_name: caliper
    scrape_interval: 5s
    static_configs:
    - targets:
      - calipertester:3000
      labels:
        instance: caliper
  - job_name: filestats
    scrape_interval: 5s
    static_configs:
    - targets:
      - monitor.filestats:9943
      labels:
        instance: filestats
  - job_name: peers
    scrape_interval: 5s
    static_configs:
{% for peer in allpeers %}
{% set instance = peer.fullname.split(".example.com")|first %}
    - targets:
      - {{ peer.url }}:7061
      labels:
        instance: {{ instance }}
{% endfor %}
  - job_name: orderers
    scrape_interval: 5s
    static_configs:
{% for orderer in allorderers %}
{% set instance = orderer.fullname.split(".example.com")|first %}
    - targets:
      - {{ orderer.url }}:7060
      labels:
        instance: {{ instance }}
{% endfor %}
