---
# ROOTPATH should be set to the absolute path of crypto material starting directory
# for example: export ROOTPATH=/home/ubuntu/mywork/vars/keyfiles
name: {{ NETNAME }}
version: 1.0.0
client:
{% set gopeer=allpeers|random %}
  organization: {{ gopeer.org }}
  logging:
    level: info

Cab: &DefaultCab
  endorsingPeer: true
  chaincodeQuery: true
  ledgerQuery: true
  eventSource: true

channels:
  {{ CHANNEL_NAME }}:
    orderers:
{% for orderer in allorderers %}
    - {{ orderer.fullname }}
{% endfor %}
    peers:
{% for peer in allpeers %}
      {{ peer.fullname }}:
        <<: *DefaultCab
{% endfor %}

organizations:
{% for org in allorgs %}
{%  set orgtype = (org in peerorgs)|ternary('peer', 'orderer') %}
  {{ org }}:
    mspid: {{ org.split('.')|join('-') }}
    cryptoPath: {{ orgtype }}Organizations/{{ org }}/users/{username}@{{
        org}}/msp
{% if orgtype == 'peer'%}
    orderers: []
    peers:
{%   for peer in allpeers|selectattr('org', 'equalto', org)|list %}
    - {{ peer.fullname }}
{%   endfor %}
{% else %}
    peers: []
    orderers:
{%   for orderer in allorderers|selectattr('org', 'equalto', org)|list %}
{%     set orgtype = 'orderer' %}
    - {{ orderer.fullname }}
{%   endfor %}
{% endif %}
    certificateAuthorities:
{%   for ca in allcas|selectattr('org', 'equalto', org)|list %}
    - {{ ca.fullname }}
{%   endfor %}
{% endfor %}

orderers:
{% for orderer in allorderers %}
  {{ orderer.fullname }}:
    url: grpcs://{{ orderer.url }}:{{ orderer.port }}
    tlsCACerts:
      pem: |
{{ lookup('file', pjroot+'/vars/keyfiles/ordererOrganizations/'+orderer.org+'/orderers/'+orderer.fullname+'/tls/ca.crt')|indent(8, True) }}
{% endfor %}

peers:
{% for peer in allpeers %}
  {{ peer.fullname }}:
    url: grpcs://{{ peer.url }}:{{ peer.port }}
    tlsCACerts:
      pem: |
{{ lookup('file', pjroot+'/vars/keyfiles/peerOrganizations/'+peer.org+'/peers/'+peer.fullname+'/tls/ca.crt')|indent(8, True) }}
{% endfor %}

certificateAuthorities:
{% for ca in allcas %}
  {{ ca.fullname }}:
    url: https://{{ ca.url }}:{{ ca.port }}
    tlsCACerts:
      pem:
      - |
{{ lookup('file', pjroot+'/vars/keyfiles/'+orgattrs[ca.org].certpath+'/'+ca.org+'/ca/'+ca.fullname+'-cert.pem')|indent(8, True) }}
    registrar:
      enrollId: admin
      enrollSecret: adminpw
{% endfor %}
