#!/bin/bash
# scripts to start the go application against the network

cd {{ APP_DIR }}
{% if fabric.goproxy is defined and APP_LANGUAGE == 'go' %}
go env -w GOPROXY={{ fabric.goproxy }}
{% endif %}
if [ -f 'go.mod' ] && [ ! -d 'vendor' ]; then
  export GO111MODULE=on
  go mod vendor
fi
export GO111MODULE=off
ls
go run main.go
